<md-content class="md-padding">
    <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
    <section>
        <md-subheader class="md-primary">Admins</md-subheader>
        <md-list layout="column">
            <md-item ng-repeat="user in users">
                <md-item-content>
                    <div class="md-tile-content" layout="row">
                        <div layout="column">
                            <h3><strong>{{user.name}}</strong></h3>
                            <h4>{{user.email}}</h4>
                        </div>
                        <span flex></span>
                        <div layout="row" layout-align="center center">
                            <md-button class="md-warn" ng-click="delete(user)">
                                <md-icon class="fa fa-lg fa-fw fa-trash" aria-hidden="true"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </section>
</md-content>