<md-content class="md-padding">
    <h1>Login</h1>
    <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
    <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>
    <form name="form" ng-submit="login(form)" novalidate>
        <md-input-container flex>
            <label>Email</label>
            <input type="email" name="email" ng-model="user.email" required>
            <div ng-messages="form.email.$error">
                <div ng-message="required">Please enter your email.</div>
                <div ng-message="email">Please enter a valid email.</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password" required>
            <div ng-messages="form.password.$error">
                <div ng-message="required">
                    Please enter your password.
                </div>
            </div>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">Login</md-button>
        <md-button class="md-raised" ng-href="/signup">Sign up</md-button>
    </form>
</md-content>