<div ng-controller="TopbarCtrl">
    <md-toolbar>
        <div class="md-toolbar-tools" ng-click="openMenu()" tabindex="0">
            <div class="md-toolbar-item">
                <div layout="row" layout-align="left center">
                    <md-button hide-gt-sm >
                        <md-icon class="fa fa-lg fa-fw fa-bars" aria-hidden="true"></md-icon>
                    </md-button>
                    <md-button ng-href="">HOME </md-button>
                </div>
            </div>
            <span flex></span>
            <div class="md-toolbar-item">
                <div layout="row" layout-align="right center">
                    <md-button ng-hide="isLoggedIn()" ng-href="/signup" >Sign up</md-button>
                    <md-button ng-hide="isLoggedIn()" ng-href="/login">
                        <md-icon class="fa fa-lg fa-fw fa-sign-in " aria-hidden="true"></md-icon>Login
                    </md-button>
                    <md-button ng-show="isLoggedIn()" ng-href="/settings">
                        <md-icon class="fa fa-lg fa-fw fa-cog" aria-hidden="true"></md-icon>
                    </md-button>
                    <md-button ng-show="isLoggedIn()" ng-click="logout()">
                        <md-icon class="fa fa-lg fa-fw fa-sign-out " aria-hidden="true"></md-icon>Logout
                    </md-button>
                </div>
            </div>
        </div>
    </md-toolbar>
</div>